@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*, *::before, *::after {
    box-sizing: border-box;
}
  
* {
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}
a {
    text-decoration: none;
}
li, ul {
    margin: 0;
    padding: 0;;
}
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    /* overflow: hidden; */
    font-family: Roboto, sans-serif;
}



.container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1.5fr 4fr 1.5fr;
    grid-template-rows: 1fr 6fr;
    grid-template-areas: 
    'navigation header header'
    'navigation main sidebar'
}



.navigation {
    background-color: #1992D4;
    grid-area: navigation;
    color: white;
    padding: 30px;
    font-weight: bold;
}
.navigation > div> a {
    color: white;
    font-size: 1.5rem;
}
ul {
    list-style-type: none;
    margin-top: 40px;
}
.navigation > ul > li {
    padding-bottom: 10px;
}
.navigation > ul > li > a {
    color: white;
}



.header {
    background-color: white;
    grid-area: header;
    display: grid;
    grid-template-columns: 1fr;
    /* grid-template-rows: 1fr 1.5fr; */
    grid-template-areas:
    'top-header'
    'bottom-header';
}
.top-header, .bottom-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: start;
    padding: 6px 20px 5px;
}
.top-header {
    grid-area: top-header;
}
.bottom-header{
    grid-area: bottom-header;
}
.bottom-header > ul {
    display: flex;
}
#search-bar {
    & input {
        border: solid 1px gray;
        height: 2rem;
        width: 66ch;
        border-radius: 16px;
        padding-left: 20px;
    }
}
.user-info > img {
    width: 50px;
    border-radius: 50%;
}

.user-greetings {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 2fr;
    grid-template-areas: 
    'avatar greeting'
    'avatar username';
}
#avatar {
    grid-area: avatar;
    width: 80px;
    border-radius: 50%;
}
.greeting {grid-area: greeting;}
.username {grid-area: username;}



.main {
    background-color: #E2E8F0;
    grid-area: main;
}



.sidebar {
    background-color: rgb(59, 59, 59);
    grid-area: sidebar;
}